div a>p:nth-child(2){
  color: #000 !important;
  font: 18px bold 幼圆 !important;
}
div a>p:nth-child(3){
  color: #000;
}
.img_sty div{
  overflow: hidden !important;
}
.img_sty img:hover{

  transform: scale(1.1);
  transition: 1s;
}
@media (max-width:992px){
  .dis_min>div:last-child{
    display: none !important;
  }
}